body{
	font-family: "Jura", sans-serif;
}
.user_input_field{
	margin-left: 5px;
}
.button {
	display: inline-block;
	border-radius: 4px;
	background-color: #00b1fe;
	border: none;
	color: #FFFFFF;
	text-align: center;
	font-size: 28px;
	padding: 20px;
	width: 300px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 5px;
}

.button span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}

.button span:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
}

.button:hover span {
	padding-right: 25px;
}

.button:hover span:after {
	opacity: 1;
	right: 0;
}
.font_jura{
	font: unset;
	font-family: "Jura", sans-serif;
}
#guide_text{
	font: unset;
	font-family: "Jura", sans-serif;
	font-size: xx-large;
}
.main_chat_form{

}
#otpravit{
	margin-top: 450px;
}
.spacer{
	margin-bottom: 1000px;
}
.336_741 {
	overflow:hidden;
}
.e336_741 { 
	background-color:rgba(255, 255, 255, 1);
	width:1511px;
	height:844px;
	position:absolute;
}
.e338_14 { 
	width:1521px;
	height:862px;
	position:absolute;
	left:-10px;
	top:-18px;
}
.e338_21 { 
	background-color:rgba(255, 255, 255, 1);
	width:1521px;
	height:773px;
	position:absolute;
	left:0px;
	top:89px;
}
.e336_742 { 
	width:657.5185546875px;
	height:392px;
	position:absolute;
	left:431.8392333984375px;
	top:355px;
}
.e336_746 { 
	background-color:rgba(40.57421900331974, 40.57421900331974, 40.57421900331974, 1);
	width:339.1411437988281px;
	height:50px;
	position:absolute;
	left:159.1886749267578px;
	top:171px;
	border-top-left-radius:12px;
	border-top-right-radius:12px;
	border-bottom-left-radius:12px;
	border-bottom-right-radius:12px;
}
.e336_747 { 
	color:rgba(247.76172280311584, 247.76172280311584, 247.76172280311584, 1);
	width:311px;
	height:24px;
	position:absolute;
	left:14.070571899414062px;
	top:13px;
	font-family:Jura;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e338_10 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:657.5185546875px;
	height:156px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:12px;
	border-top-right-radius:12px;
	border-bottom-left-radius:12px;
	border-bottom-right-radius:12px;
}
.e338_11 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:657.5185546875px;
	height:156px;
	position:absolute;
	left:0px;
	top:236px;
	border-top-left-radius:12px;
	border-top-right-radius:12px;
	border-bottom-left-radius:12px;
	border-bottom-right-radius:12px;
}
.e336_748 { 
	background-color:rgba(0, 177.0000046491623, 254.00000005960464, 1);
	width:1521px;
	height:89px;
	position:absolute;
	left:0px;
	top:0px;
}
.e336_764 { 
	width:418.2410583496094px;
	height:71px;
	position:absolute;
	left:538.964111328125px;
	top:198px;
}
.e336_756 { 
	width:418.2410583496094px;
	height:71px;
	position:absolute;
	left:0px;
	top:0px;
}
.e336_755 { 
	background-color:rgba(125.80002442002296, 215.8331000804901, 255, 1);
	width:411.3198547363281px;
	height:61px;
	position:absolute;
	left:3.954817533493042px;
	top:7.275957614183426e-12px;
	border-top-left-radius:30.5px;
	border-top-right-radius:30.5px;
	border-bottom-left-radius:30.5px;
	border-bottom-right-radius:30.5px;
}
.e336_743 { 
	color:rgba(33.13671849668026, 33.13671849668026, 33.13671849668026, 1);
	width:418.2410583496094px;
	height:61px;
	position:absolute;
	left:0px;
	top:10px;
	font-family:Jura;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
}
.e336_760 { 
	color:rgba(255, 255, 255, 1);
	width:1471.2593994140625px;
	height:71px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:Jura;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
}
.e336_763 { 
	color:rgba(40.57421900331974, 40.57421900331974, 40.57421900331974, 1);
	width:404.39862060546875px;
	height:139px;
	position:absolute;
	left:0px;
	top:89px;
	font-family:Jura;
	text-align:center;
	font-size:50px;
	letter-spacing:0;
}
.e336_766 { 
	color:rgba(40.57421900331974, 40.57421900331974, 40.57421900331974, 1);
	width:342.1073913574219px;
	height:139px;
	position:absolute;
	left:1141.016845703125px;
	top:89px;
	font-family:Jura;
	text-align:center;
	font-size:35px;
	letter-spacing:0;
}
.e336_767 { 
	color:rgba(40.57421900331974, 40.57421900331974, 40.57421900331974, 1);
	width:378.69110107421875px;
	height:139px;
	position:absolute;
	left:762.3260498046875px;
	top:89px;
	font-family:Jura;
	text-align:center;
	font-size:35px;
	letter-spacing:0;
}
.e336_768 { 
	color:rgba(40.57421900331974, 40.57421900331974, 40.57421900331974, 1);
	width:377.7023620605469px;
	height:139px;
	position:absolute;
	left:384.62353515625px;
	top:89px;
	font-family:Jura;
	text-align:center;
	font-size:35px;
	letter-spacing:0;
}
